name: Dependency Review

on: [pull_request]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      # Clone repository
      - name: "Checkout Repository"
        uses: actions/checkout@v3

      # Check dependencies
      - name: "Dependency Review"
        uses: actions/dependency-review-action@v2
